* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.wrapper {
  margin-right: 100px;
  margin-left: 100px;
  background-color: rgb(145, 99, 99);
  /*height: 100vh;*/
}

.about-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-size: 40px;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-pic img {
  margin-top: 50px;
  height: 500px;
  width: 350px;
}

.about-details {
  margin-left: 90px;
}

.about-details h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

.about-details .about-p {
  font-size: 17px;
  margin-bottom: 20px;
  margin-right: 50px;
}

.name-details {
  /*display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;*/
  padding-top: 20px;
}

.name-age {
  display: grid;
}

.name-age-1 {
  padding-bottom: 30px;
  font-size: 17px;
}

/* Resume Section */

.about-resume {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-edu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 17px;
  padding-top: 20px;
  padding-bottom: 20px;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.about-h3 {
  padding-bottom: 20px;
}

/* Skills */

.skill-section img {
  height: 200px;
}
