* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}

.wrapper {
  margin-right: 100px;
  margin-left: 100px;
  background-color: rgb(145, 99, 99);
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 100px;
}
